[package]
name = "rust-timeit"
version = "0.0.0"
edition = "2024"

[dependencies]
@DEPENDENCIES@

[dev-dependencies]
criterion = { version = "0.5", default-features = false, features = ["cargo_bench_support"] }

[[bench]]
name = "@BASE@"
harness = false
