[package]
name = "rust-timeit"
version = "0.0.0"
edition = "2021"

[dependencies]
@DEPENDENCIES@

[dev-dependencies]
criterion = { version = "0.3.6", default-features = false, features = ["html_reports"] }

[[bench]]
name = "@BASE@"
harness = false
